html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

button {
  display: inline-block;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 29px;
  min-width: 200px;
  text-align: center;
}
.btn-main {
  padding: 10px 32px;
  margin: 0;
  margin-bottom: 210px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.btn-portf {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  min-width: 73px;
  margin-right: 8px;
}

.btn-portf:hover,
.btn-portf:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px dashed tomato;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.head-cont {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 85px;
}
.logo {
  color: var(--primary-text-color);
}
.logo-f {
  color: var(--white-color);
}
.main-banner {
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.hero-title {
  margin: 0;
  padding: 200px 452px 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.features,
.our-team {
  margin-top: 94px;
  margin-bottom: 94px;
}
.features-cont,
.our-works,
.site-nav,
.team-list {
  display: flex;
}

.features-cont .item:not(:last-child) {
  margin-right: 30px;
}

.our-works .item:not(:last-child) {
  margin-right: 30px;
}

.sect-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 32px 0;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.contact-h {
  display: flex;
  margin-left: auto;
}

.contact-h .item + .item {
  margin-left: 30px;
}

.contact-h .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contact-h .link:hover,
.contact-h .link:focus {
  color: var(--accent-color);
}
.our-team {
  background: #f5f4fa;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list,
.clients {
  margin-top: 94px;
  margin-bottom: 94px;
}

.msngrs {
  display: flex;
  justify-content: space-around;
}
.sect-title {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.sect-minititle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-decription {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.sect-par {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding: 0;
  margin: 0;
}
.team-p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.title-portf {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
}

.portfolio-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.foot-cont {
  display: flex;
  align-items: center;
}

.portf-p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.hover-p {
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.title-par {
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding: 27px 82px 27px 83px;
  margin-top: 0;
  margin-bottom: 0;
}
footer {
  background: #2f303a;
  color: var(--white-color);
}
.p-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-f {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
